<div class="row">
      <div class="col-sm-4">
          <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="post">
                 
                 <div class="form-group">

                     <label for="name">Name</label>
                     <input value="{{category.name}}" type="text" name="name"  class="form-control">

                 </div>

                 <button type="submit" class="btn btn-primary">Update category</button>
          </form>
      </div>
</div>
